---
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview__article">
    <a href={`/works/${post.slug.current}`}>
      {post.mainImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />}
      <h1 class="title">Title: {post.title}</h1>
      <time class="publish-date">Date: {formatBlogPostDate(post.publishedAt)}</time>
      <p>Excerpt: {post.excerpt}</p>
      <p>By {post.author.id}</p>
    </a>
</article>
